body {
    background-image: url("https://faveing.neocities.org/images/GDtB2zuacAADyN-.jpeg");
}

.header {
    background-color: white;
    width: 300px;
    height: 100px;
    margin: auto;
}
.title {
    margin: auto;
    background-color: black;
    width: 50%;
    height: 10px;
}